.div_1 {
  position: absolute;
  line-height: 100px;
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: blue;
  width: 100px;
  height: 100px;
  border: 1px solid blue;
}

.div_2 {
  position: absolute;
  line-height: 100px;
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: red;
  width: 100px;
  height: 100px;
  border: 1px solid red;
  left: 101px;
}

.div_3 {
  position: absolute;
  line-height: 100px;
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: green;
  width: 100px;
  height: 100px;
  border: 1px solid green;
  left: 201px;
}
